
.clear-selection-top{
    margin: auto;
    display: block;
    margin-top:10px;
}
.clear-section-bottom{
    margin: auto;
    display: block;
    font-size:18px;
    margin-top:-20px;
}

.showing-regions-text{
    color: #1C446E;
    margin: auto;
    font-size: 16px;
    margin-top: 10px;
    padding-bottom: 5px;
}

svg {
    display: inline-block;
    vertical-align: middle;
}

.zip-area-label{
    font-weight: bold
}

path{
    cursor:pointer!important;
}
.map-wrapper{
    margin-bottom: 40px;
}
CanvasJSChart{
    padding-bottom:60px;
    display:block;
    clear:both;
}
.main-title{
    margin-top:20px;
}
.graphs-below{
    margin-bottom:25px;
    font-weight:bold;
}
  .content{
      width: 80%;
      margin:2rem 10% 0 10%;
      max-width: 100%;
      box-sizing: border-box;
      min-height: 100vh;
  }
.box{
    width:80%;
    margin:2rem 10% 0 10%;
    height:100vh;
    background-color:plum;
}
  .navbar{
      width: 100%;
      box-sizing: border-box;
      justify-content: space-between;
      align-items: center;
      background-color: white;
      border-bottom: 1px solid transparent;
  }
  .scrolled{
        display:flex;
      position: fixed;
      top: 0;
      left: 0;
      background-color: #fbfbfb;
      border-bottom: 1px solid #666;
      animation: smoothScroll 0.5s forwards;
      padding: 13px 0;
  }
.logo img{
    width: 50px;
}
.topSection{
    max-width: 1140px;
    margin:auto;
    display: flex;
}
.flex-row{
    display:flex;
    width:100%;
}
header{
    z-index:9999!important;
}
.hide{
    visibility:hidden;
}
.display-none{
    display:none;
}
@keyframes smoothScroll {
    0% {
        transform: translateY(-40px);
    }
    100% {
        transform: translateY(0px);
    }
}


.stay-home{
    font-weight:bold;
    color: #ef8c8c;
}